---
layout: home
---
<div class="user-details">
<h2> About Me </h2>
<div style="float:left; clear: both;" align="center">
<img src="https://MacLLL.github.io/images/touxiang_new3.jpg" width="140" alt="" hspace="8" vspace="8">
</div>
<p style="text-align: justify;"> I was a Ph.D. student (2018-2022) at <a href="https://www.eng.mcmaster.ca/cas" target="_blank">Computing and Software</a>, <a href="https://www.mcmaster.ca/" target="_blank">McMaster University</a>, advised by Prof. <a href="http://www.cas.mcmaster.ca/wenbohe/index.html" target="_blank">Wenbo He</a>. I also earned my M.Sc in computer science at McMaster University in 2018. 
	Prior to that, I studied in <a href="https://www.zju.edu.cn/english/" target="_blank">Zhejiang University</a> from 2015-2016, advised by Prof. <a href="https://person.zju.edu.cn/en/huajun" target="_blank">Huajun Chen</a>. I obtained my B.E. in computer science and technology from <a href="https://en.scu.edu.cn/" target="_blank">Sichuan University</a> in 2015. <br> Email: luy100 AT mcmaster DOT ca </br>
	</p>
<!-- 
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
-->
<h2>Research Interest</h2>
<h4> My current research interest broadly includes theory and applications of machine learning, such as </h4>
<ul style="line-height:180%">
	<li>Trustworthy Machine Learning with Imperfect Data </li>
	<!-- <li>Federated Learning</li> -->
	<!-- <li>Graph Learning </li> -->
	<li>Approaximate Nearest Neighbour Search </li>
	<li>Image&Video Classification</li>
</ul>
<h4> I have served as a reviewer for ICML 2022, NeurIPS 2022, AAAI 2023, and IEEE Transactions on Neural Networks and Learning Systems 2023.</h4>
</div>


<div class="permlinks">
<!-- <h2>Recent Works</h2> -->
<!-- 
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	 <p>... <a href="/blog">Full Works List</a> </p> 
</dl>
-->

<h2>What's New</h2>
<ul style="line-height:180%">
	<li><span>[2022-11-28]</span> &nbsp&nbsp Our paper <a href="https://ojs.aaai.org/index.php/AAAI/article/view/26751" target="_blank">"Rethinking Label Refurbishment: Model Robustness under Label Noise"</a> has been accepted to AAAI 2023 (acceptance rate 19.6%, 1721/8777). </li>
	<li><span>[2022-09-14]</span> &nbsp&nbsp Our paper <a href="https://openreview.net/pdf?id=yfNSUQ3yRo" target="_blank">"Noise Attention Learning"</a> has been accepted to NeurIPS 2022 (acceptance rate 25.6%, 2665/10411).  </li>
	<li><span>[2022-05-01]</span> &nbsp&nbsp Our paper <a href="https://www.ijcai.org/proceedings/2022/455" target="_blank">"SELC: Self-Ensemble Label Correction Improves Learning with Noisy Labels"</a> has been accepted to IJCAI 2022 as a regular paper (acceptance rate 15.0%, 681/4535). </li>
	<!--<li><span>[2021-10-27]</span> &nbsp&nbsp Our paper <a href="https://maclll.github.io/github_papers/bigdata2021.pdf" target="_blank">"MixNN: Combating Noisy Labels in Deep Learning by Mixing with Nearest Neighbours"</a> has been accepted to IEEE BigData 2021 as a regular paper (acceptance rate 19.9%, 97/486).</li> -->
	<li><span>[2021-10-11]</span> &nbsp&nbsp Our paper <a href="https://dl.acm.org/doi/abs/10.1145/3488560.3498376" target="_blank">"An Ensemble Model for Combating Label Noise"</a> has been accepted to WSDM 2022 as a regular paper (acceptance rate 20.23%, 159/786).</li>
	<!--<li><span>[2021-09-20]</span> &nbsp&nbsp I presented my research works in the annual supervisory committee meeting and got excellent scores from all professors.  </li> -->
	<li><span>[2021-08-18]</span> &nbsp&nbsp Our paper <a href="https://arxiv.org/abs/2108.08212" target="_blank">"Confidence Adaptive Regularization for Deep Learning with Noisy Labels"</a> is uploaded in arxiv.org.  </li>
	<li><span>[2021-03-18]</span> &nbsp&nbsp Our paper <a href="https://arxiv.org/abs/2103.10567" target="_blank">"CLTA: Contents and Length-based Temporal Attention for Few-shot Action Recognition"</a> is uploaded in arxiv.org.  </li>
</ul>
<h2>Teaching Experience</h2>
<ul style="line-height:180%">
	<li><span>[2022 Winter]</span> &nbsp&nbsp TA for CAS 771: Introduction to Big Data Systems and Applications. </li>
	<li><span>[2017-2021 Fall]</span> &nbsp&nbsp TA for MECHTRON 4AA4: Real-Time Systems and COntrol Applications. </li>
	<li><span>[2016 Fall ]</span> &nbsp&nbsp TA for CS 3SH3: Operation System.  </li>
</ul>

</div >
