---
layout: home
---
<div class="user-details">
<h2> About Me </h2>
<div style="float:left; clear: both;" align="center">
<img src="" width="120" alt="" hspace="8"> <br />
</div>
<p style="text-align: justify;"> Currently, I'm a Ph.D. student (2018-) at <a href="https://www.eng.mcmaster.ca/cas" target="_blank">Computing and Software</a>, <a href="https://www.mcmaster.ca/" target="_blank">McMaster University</a>, advised by Prof. <a href="http://www.cas.mcmaster.ca/wenbohe/index.html" target="_blank">Wenbo He</a>. I also earned my M.Sc in computer science at McMaster University in 2018. 
	Prior to that, from 2015-2016, I studied in <a href="https://www.zju.edu.cn/english/" target="_blank">Zhejiang University</a>, advised by Prof. <a href="https://person.zju.edu.cn/en/huajun" target="_blank">Huajun Chen</a>. I obtained my B.E. in computer science and technology from <a href="https://en.scu.edu.cn/" target="_blank">Sichuan University</a> in 2015.
	</p>
<div class="analytics"  style="border: solid lightgrey; border-radius: 5px;">
	<h3> Analytics </h3>
	{% include clustrmap.html style="js" %}
	<p> <small> If you are not seeing a map, please disable Ad block </small></p>
</div>
</div>

<div class="permlinks">
<!-- <h2>Recent Works</h2> -->
<!-- 
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	 <p>... <a href="/blog">Full Works List</a> </p> 
</dl>
-->

<h2>Research Interests</h2>
<ul style="line-height:180%">
	<li>Deep Learning with Noisy Labels </li>
	<li>Regularization</li>
	<li>Approaximate Nearest Neighbour Search over High-dimensional Objects </li>
	<li>Video Classification</li>
</ul>

<h2>What's New</h2>
<ul style="line-height:180%">
	<li><span>[2021-10-27]</span> &nbsp&nbsp Our paper "MixNN: Combating Noisy Labels in Deep Learning by Mixing with Nearest Neighbours" has been accepted to IEEE BigData 2021 as a regular paper (acceptance rate 19.9%). </li>
	<li><span>[2021-10-11]</span> &nbsp&nbsp Our paper "An Ensemble Model for Combating Label Noise" has been accepted to WSDM 2022 as a regular paper (acceptance rate 20.23%). </li>
	<li><span>[2021-09-20]</span> &nbsp&nbsp I presented my reseach works in the annual supervisory committee meeting and got excellent scores from all professors.  </li>
	<li><span>[2021-08-18]</span> &nbsp&nbsp We upload our paper <a href="https://arxiv.org/abs/2108.08212" target="_blank">"Confidence Adaptive Regularization for Deep Learning with Noisy Labels"</a> in arxiv.org.  </li>
	<li><span>[2021-03-18]</span> &nbsp&nbsp We upload our paper <a href="https://arxiv.org/abs/2103.10567" target="_blank">"CLTA: Contents and Length-based Temporal Attention for Few-shot Action Recognition"</a> in arxiv.org.  </li>
</ul>

</div >
